/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-datetimepicker
 *= require select2
 *= require select2-bootstrap
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Gloria+Hallelujah);

@font-fact{
  font-family: 'Gloria Hallelujah', cursive;
}

body {
  font-family: 'Gloria Hallelujah', cursive;
  background-image: url(image-path("spring.jpg"));
}

td {
  font-family: 'Gloria Hallelujah', cursive;
}

th {
  background-color: #b7fea0;
}

.alert {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 18px;
}

button {
font-family: Arial;
font-size: 10px;
float: right;
}

img {
  display: block;
  margin: 0 auto;
  padding-bottom: 30px;
}

h1 {
  text-align: center;
  margin: 0 auto;
  background-color: #c3eee7;
  width: 300px;
}
